@tailwind base;
@tailwind components;
@tailwind utilities;

.btn__quiz {
  @apply px-4 py-2 md:px-6 border border-foreground bg-background hover:bg-foreground text-foreground hover:text-slate-950 transition;
}
.gradient__bg {
  /* background: linear-gradient(300deg, #cf59e6, #6bc5f8); */

  background: linear-gradient(60deg, rgb(23, 24, 32), rgba(15, 15, 24, 1));
  /* background-size: 300% 300%; */
  /* animation: gradient 5s ease infinite; */
}

legend > div > p {
  font-size: 1.5rem;
}

#question > p > code {
  background-color: #111b27;
  padding: 0.2em;
  border-radius: 2px;
  color: #ab4bff;
}

form {
  box-shadow: 0 4px 6px -1px rgb(157 172 124 / 26%),
    0 2px 4px -2px rgb(175 173 70 / 56%);
}

label > p > code,
legend > p > code {
  background-color: #0d0d0b68;
  border: solid 1px #5ca3ff4f;
  padding: 0.3rem;
  border-radius: 2px;
}

.float__image {
  animation: float 4s alternate infinite;
}

@keyframes float {
  0% {
    transform: translateY(-1rem);
    scale: 1.01;
  }
  50% {
    transform: translateY(0px);
    scale: 1;
  }
  100% {
    transform: translateY(-1rem);
    scale: 1.01;
  }
}

.gradient__text {
  background: linear-gradient(300deg, #ab4bff, #5ca2ff);
  background-size: 300% 300%;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: gradient 5s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}

.animate__from__top {
  animation: from_top 0.5s ease-in;
}

@keyframes from_top {
  0% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

.animate__from__bottom {
  animation: from_bottom 0.5s ease-in;
}

@keyframes from_bottom {
  0% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0);
  }
}

.animate__exit {
  animation: exit 0.5s ease-in;
}

@keyframes exit {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50px);
  }
}

.animate__enter {
  animation: enter 0.5s ease-in;
}

@keyframes enter {
  0% {
    transform: translateX(50px);
  }
  100% {
    transform: translateX(0);
  }
}

.animate__go__to__right {
  animation: previous_anim_out 0.5s ease-in;
}

@keyframes previous_anim_out {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(50px);
  }
}

.animate__come__from__left {
  animation: previous_anim_in 0.5s ease-in;
}

@keyframes previous_anim_in {
  0% {
    transform: translateX(-50px);
  }
  100% {
    transform: translateX(0);
  }
}
