.navbar__bg {
  background: linear-gradient(300deg, #ab4bff, #5ca2ff);
  background-size: 300% 300%;
  animation: gradient 5s ease infinite;
}

.footer__text {
  background: linear-gradient(300deg, #ab4bff, #5ca2ff);
  background-size: 300% 300%;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: gradient 5s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}
