@tailwind base;
@tailwind components;
@tailwind utilities;

.gradient__bg {
  background: linear-gradient(300deg, #ab4bff, #5ca2ff);
  background-size: 300% 300%;
  animation: gradient 5s ease infinite;
}
.float__image {
  animation: float 4s alternate infinite;
}

@keyframes float {
  0% {
    transform: translateY(-1rem);
    scale: 1.01;
  }
  50% {
    transform: translateY(0px);
    scale: 1;
  }
  100% {
    transform: translateY(-1rem);
    scale: 1.01;
  }
}
.gradient__text {
  background: linear-gradient(300deg, #ab4bff, #5ca2ff);
  background-size: 300% 300%;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: gradient 5s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}

.border_animate::before {
  content: "";
  background-image: conic-gradient(#ffd800 20deg, transparent 80deg);
  position: absolute;
  inset: -110px;
  z-index: -1;
  border-radius: 12px;
  animation: rotate 4s infinite linear;
}

@keyframes rotate {
  from {
    rotate: 0deg;
  }
  to {
    rotate: -360deg;
  }
}

.border_animate::after {
  content: "";
  position: absolute;
  inset: 1px;
  border-radius: 12px;
  z-index: -1;
}
