@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: #0a0a0a;
}
.link {
  @apply text-2xl text-blue-400 hover:text-blue-500;
}

.answer__code > p > code {
  background-color: #111b27;
  padding: 0.5em;
}
